## Dictionary  

**properties:** unordered, iterable, mutable, can contain multiple data types made up of key-value pairs  
keys must be unique, and can be strings, numbers, or tuples values can be any type  

Dictionaries are similar to list, but order doesn't matter and items can't be fetched with Indexes.  
All the values are associated with an unique key. Usually, Keys are string type, but it can be any data type.

### Create with {} & `dict()`

In [1]:
empty_dict = {}

print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [4]:
emp_1 = {'fname': 'Lyle', 'lname': 'Dsouza', 'age': 35, 'job': 'teacher'}

print(emp_1)
print(type(emp_1))

{'fname': 'Lyle', 'lname': 'Dsouza', 'age': 35, 'job': 'teacher'}
<class 'dict'>

In [6]:
emp_2 = dict(fname='Tim', lname='Hortons', age=57, job='fast-food chain')

print(emp_2)
print(type(emp_2))

{'fname': 'Tim', 'lname': 'Hortons', 'age': 57, 'job': 'fast-food chain'}
<class 'dict'>

### Extracting Keys & Values from Dictionary

In [7]:
keys = emp_2.keys()
print(keys)

dict_keys(['fname', 'lname', 'age', 'job'])

In [8]:
val = emp_2.values()
print(val)

dict_values(['Tim', 'Hortons', 57, 'fast-food chain'])

In [9]:
# Tuple list of key & Value pair 

both = emp_2.items()
print(both)

dict_items([('fname', 'Tim'), ('lname', 'Hortons'), ('age', 57), ('job', 'fast-food chain')])

### Add or Change an Item by key

In [10]:
emp_1

{'fname': 'Lyle', 'lname': 'Dsouza', 'age': 35, 'job': 'teacher'}

In [11]:
# adding - 

emp_1['DOB'] = 1986

print(emp_1)

{'fname': 'Lyle', 'lname': 'Dsouza', 'age': 35, 'job': 'teacher', 'DOB': 1986}

If you are **adding** key name must be unique else it will change the value of existing key

In [14]:
emp_1['fname'] = 'Sunny' 

print(emp_1)

{'fname': 'Sunny', 'lname': 'Dsouza', 'age': 35, 'job': 'teacher', 'DOB': 1986}

In [15]:
# You can assign any data type as a key and value  
# Usually Keys are String type
# Values can be any data type 

# Adding few Friends - 

emp_1['friends'] = ['Lynda', 'Akash', 'Daizy']

print(emp_1)

{'fname': 'Sunny', 'lname': 'Dsouza', 'age': 35, 'job': 'teacher', 'DOB': 1986, 'friends': ['Lynda', 'Akash', 'Daizy']}

### Get an element by `[key]` or `get(key)` method

In [17]:
# Get lname of emp_1

emp_1['lname']

'Dsouza'

In [18]:
# Get Friends of emp_1

emp_1.get('friends')

['Lynda', 'Akash', 'Daizy']

`[key]` method will throw an error if key does not exists.  
where in `get(key)` method, you can define the default value if key does not exists.

In [19]:
# get emp_1 address 

emp_1['address']

KeyError: 'address'

In [20]:
emp_1.get('address', 'No Address')

'No Address'

### Get No of Items in Dictionary

In [21]:
len(emp_1)

6

### Combine Dictionary with `update()`

In [22]:
emp_1

{'fname': 'Sunny',
 'lname': 'Dsouza',
 'age': 35,
 'job': 'teacher',
 'DOB': 1986,
 'friends': ['Lynda', 'Akash', 'Daizy']}

In [26]:
emp_1_address = {'apt':518, 'st': '199 wellesley st', 'city': 'toronto'}

emp_1_address

{'apt': 518, 'st': '199 wellesley st', 'city': 'toronto'}

In [27]:
# Combineing emp_1 address details with emp_1 data

emp_1.update(emp_1_address)

emp_1

{'fname': 'Sunny',
 'lname': 'Dsouza',
 'age': 35,
 'job': 'teacher',
 'DOB': 1986,
 'friends': ['Lynda', 'Akash', 'Daizy'],
 'apt': 518,
 'st': '199 wellesley st',
 'city': 'toronto'}

### Delete an Item with `del`

In [29]:
del emp_1['DOB']

emp_1

{'fname': 'Sunny',
 'lname': 'Dsouza',
 'age': 35,
 'job': 'teacher',
 'friends': ['Lynda', 'Akash', 'Daizy'],
 'apt': 518,
 'st': '199 wellesley st',
 'city': 'toronto'}

### Get an Item by Key and Delete with `pop()`

In [30]:
apt = emp_1.pop('apt')

print(apt)
emp_1

518

{'fname': 'Sunny',
 'lname': 'Dsouza',
 'age': 35,
 'job': 'teacher',
 'friends': ['Lynda', 'Akash', 'Daizy'],
 'st': '199 wellesley st',
 'city': 'toronto'}

### Delete all item with `clear()`

In [31]:
emp_1.clear()

emp_1

{}

### Test for Key with `in`

In [32]:
emp_2

{'fname': 'Tim', 'lname': 'Hortons', 'age': 57, 'job': 'fast-food chain'}

In [33]:
'lname' in emp_2

True

In [34]:
'address' in emp_2

False

### Copy (duplicate) with `copy()`

In [35]:
# if you are going to create copy by using = , It is just an assignment, another name for same dictionary.

print(emp_1)
print(emp_2)

{}
{'fname': 'Tim', 'lname': 'Hortons', 'age': 57, 'job': 'fast-food chain'}

In [36]:
emp_1 = emp_2  # This will create an alias, NOT a COPY

print(emp_1)
print(emp_2)

{'fname': 'Tim', 'lname': 'Hortons', 'age': 57, 'job': 'fast-food chain'}
{'fname': 'Tim', 'lname': 'Hortons', 'age': 57, 'job': 'fast-food chain'}

In [39]:
# So if we change emp_2, emp_1 will also change. 

emp_2['Address'] = 'Toronto'

print(emp_1)
print(emp_2)

{'fname': 'Tim', 'lname': 'Hortons', 'age': 57, 'job': 'fast-food chain', 'Address': 'Toronto'}
{'fname': 'Tim', 'lname': 'Hortons', 'age': 57, 'job': 'fast-food chain', 'Address': 'Toronto'}

In [40]:
# Create actual copy with copy()

emp_3 = emp_1.copy()

emp_3

{'fname': 'Tim',
 'lname': 'Hortons',
 'age': 57,
 'job': 'fast-food chain',
 'Address': 'Toronto'}

In [41]:
emp_1['dob'] = 1964

print(emp_1)
print(emp_3)

{'fname': 'Tim', 'lname': 'Hortons', 'age': 57, 'job': 'fast-food chain', 'Address': 'Toronto', 'dob': 1964}
{'fname': 'Tim', 'lname': 'Hortons', 'age': 57, 'job': 'fast-food chain', 'Address': 'Toronto'}

### Iterate with `for` and `in`  (Traversal)

In [42]:
emp_3

{'fname': 'Tim',
 'lname': 'Hortons',
 'age': 57,
 'job': 'fast-food chain',
 'Address': 'Toronto'}

In [43]:
for k,v in emp_3.items():  # with items()
    print(f'{k} = {v}')

fname = Tim
lname = Hortons
age = 57
job = fast-food chain
Address = Toronto

In [46]:
for k in emp_3.keys():
    print(f'{k} == {emp_3[k]}')

fname == Tim
lname == Hortons
age == 57
job == fast-food chain
Address == Toronto

In [49]:
for v in emp_3.values():
    print(v)

Tim
Hortons
57
fast-food chain
Toronto

### Build word counter with dictionary

In [50]:
sentence = "List all processes List state of a process List state of all processes in a job  List all locks  List locks held by a process \
List locks held by all processes in a job  Clear locks held by a process  Clear locks held by all processes in a \
job  Logout a process  Logout all processes in a job  Clear status file for a job"

In [51]:
# Want to count all the words, irrespective of CASES 

word_counter = {}        # creating a empty dictionary

words = sentence.split()   # Boken down the sentense into list of words 

for w in words:
    w = w.lower()     # Lowercasing the word to remove the CASE diffrences     
    word_counter[w] = word_counter.get(w, 0) + 1   # this will check if word exist in dictionaru, If yes, It will fetch the value and add 1 
                                                   # Else, If will return 0 and then add 1 

for k,v  in word_counter.items():
    print(f'{k} == {v}')

list == 6
all == 6
processes == 5
state == 2
of == 2
a == 9
process == 4
in == 4
job == 5
locks == 5
held == 4
by == 4
clear == 3
logout == 2
status == 1
file == 1
for == 1