## Tuple  

**properties:** immutable, ordered, iterable, hashable, can contain multiple data types

**immutable** - Can't be changed  
**ordered** - Have an order  
**iterable** - Can run a loop on elements  
**hashable** - Can use index to select element

#### Creating tuple data type with ()

In [53]:
empty_tuple = ()

print(empty_tuple)

()

In [54]:
type(empty_tuple)

tuple

#### Creating tuple with single / multiple value

In [55]:
one_tup = ('addy',)   # If creating tuple with one value only, REMEMBER to put COMMA , after the value 

multi_tup = ('One', 2, 3, 'Four', 5.6, 2 )  # tuple can have multiple type of data

In [56]:
print(one_tup)
print(type(one_tup))

('addy',)
<class 'tuple'>

In [57]:
print(multi_tup)
print(type(multi_tup))

('One', 2, 3, 'Four', 5.6, 2)
<class 'tuple'>

It can also be created with `tuple()` function

In [58]:
thr = tuple([1, 'pre', 3.8, 100, 2.3, 'six']) 

print(thr)
print(type(thr))

(1, 'pre', 3.8, 100, 2.3, 'six')
<class 'tuple'>

### Tuple Operations  

#### Combine tuple by Using +

In [59]:
print(thr)
print(multi_tup)

(1, 'pre', 3.8, 100, 2.3, 'six')
('One', 2, 3, 'Four', 5.6, 2)

In [60]:
com_tup = thr + multi_tup

print(com_tup)

(1, 'pre', 3.8, 100, 2.3, 'six', 'One', 2, 3, 'Four', 5.6, 2)

#### Dublicate item with *

In [61]:
print(one_tup)

one_tup * 3

('addy',)

('addy', 'addy', 'addy')

### Compare Touples  
Compare happends element by element, i.e - first element to first and so on...

In [62]:
one_tup == multi_tup

False

In [63]:
thr == multi_tup

False

### Iterable

In [64]:
for item in multi_tup:
    print(item)

One
2
3
Four
5.6
2

### Hashable

In [65]:
# print 3rd value 
multi_tup[2]

3

In [66]:
multi_tup[-1]

2

In [67]:
multi_tup[2:4]

(3, 'Four')

### Modify a tuple  
You can't, like String , tuples are immutables, so you cant change any elements it holds.  
You can create another one by modifying the first one.

In [68]:
# Let's try to modify 3nd value 

multi_tup[2] = 6

TypeError: 'tuple' object does not support item assignment

In [69]:
print(multi_tup)

('One', 2, 3, 'Four', 5.6, 2)

In [70]:
mod_tup = multi_tup[:2]+ (5,) + multi_tup[3:]

print(mod_tup)

('One', 2, 5, 'Four', 5.6, 2)